body{
    background-image: url("../images/background.jpg");
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.jumbotron{
    background-color: rgba(0, 132, 255, 0.555);
    text-align: center;
}
label, legend{
    color: whitesmoke;
}

/* STYLES FOR: */
/* <!-- header --> */
/* <!-- buttons --> add space between each button */
/* <!-- main container --> */
/* <!-- gifs layout --> make images go in one line & add spacing between images */
/* <!-- form --> */
/* <!-- text as needed --> */
/* <!-- footer as needed --> */