body{
    background-image: url("../images/background7.jpg");
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.jumbotron, .h1{
    background-color: rgba(0, 132, 255, 0.555);
    text-align: center;
    color:whitesmoke;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
}
label, legend{
    color: black;
}
#car-input{
    background-color: rgba(0, 132, 255, 0.555);
    color:rgb(6, 23, 102);
}
.btn {
    margin: 3px;
    background-color: #6b6666;
    border-color: whitesmoke;
}

/* STYLES FOR: */
/* <!-- header --> */
/* <!-- buttons --> add space between each button */
/* <!-- main container --> */
/* <!-- gifs layout --> make images go in one line & add spacing between images */
/* <!-- form --> */
/* <!-- text as needed --> */
/* <!-- footer as needed --> */